"amelia":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/amelia"},
"cerulean":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/cerulean"},
"cosmo":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/cosmo"},
"cyborg":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/cyborg"},
"default":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/default"},
"flatly":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/flatly"},
"journal":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/journal"},
"readable":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/readable"},
"simplex":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/simplex"},
"slate":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/slate"},
"spacelab":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/spacelab"},
"spruce":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/spruce"},
"superhero":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/superhero"},
"united":
{"active": false, "path": "/bootstrap/2.3.2-namespaced/united"},
